@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>WTF.org</h1>
        <h2 class="lead">The internet's premier source for stupid nonsense, incoherent crap, and those retarded chain emails that your uncle sends you. </h2>
    </center>
</div>

<div class="row">

    <div class="col-md-4">
        <img class="headline_pic" src="https://desertpeace.files.wordpress.com/2010/09/martian.jpg">
        <h2 class="headline">Trust No-one!</h2>
        <p>
            I just heard from this one guy at the hardware store that FEMA is building prison camps for Martians in the basement of CVS. So watch out for that shit, homes.
        </p>
        <p><a class="btn btn-info" href="http://www.wnd.com/" target="_blank">We're all gonna DIE &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <img class="headline_pic" src="http://o.aolcdn.com/dims-shared/dims3/GLOB/crop/2960x2000+2+0/resize/640x426!/format/jpg/quality/85/http://hss-prod.hss.aol.com/hss/storage/adam/21dff15444bac9f0fdde40fadce1ca4f/154917415.jpeg" alt="weird baby">
        <h2 class="headline">Cash for Your Baby!</h2>
        <p>Sell your newborn child, live over the internet! Or trade your toddler to China and lower your mortgage by 17%! Approved by Dr. Oz, probably!</p>
        <p><a class="btn btn-info" href="http://knowyourmeme.com/memes/wtf-is-this-shit" target="_blank">SELL NOW! &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <img class="headline_pic" src="http://www.theallium.com/wp-content/uploads/2014/01/weight-loss.jpg">      
        <h2 class="headline">Local Mom Loses 8,000 lbs!</h2>
        <p>Housewife in <code><i>RenderCity(Not Found);</i></code> detaches head and replaces it with a pumpkin for $6, using this one weird trick!
        </p>
        <p><a class="btn btn-info" href="http://www.urbandictionary.com/define.php?term=your+an+idiot" target="_blank">Are You Fucking Serious? &raquo;</a>
        </p>
    </div>

</div>

<hr>

<div class="row">

    <div class="col-md-4">
        <img class="headline_pic" src="http://www.thetruthaboutcars.com/wp-content/uploads/2014/09/Fairfax-County-Virginia-Police-+-Radar-Gun-550x421.jpg">        
        <h2 class="headline">Drivers feel Stupid For Not Knowing This New Rule!</h2>
        <p>Placing your head firmly inside your rectum makes it impossible for police to administer a breathalyzer test. Furthermore IT'S LEGAL IN ALL 50 STATES!</p>
        <p><a class="btn btn-info" href="http://en.wiktionary.org/wiki/have_one%27s_head_up_one%27s_ass" target="_blank">TRY NOW FOR FREE! &raquo;</a>
</div>

    <div class="col-md-4">
        <img class="headline_pic" src="http://i.ytimg.com/vi/n5_zk-QWCw8/hqdefault.jpg">        
        <h2 class="headline">Bigfoot Accepted to Grad School!</h2>
        <p>
            According to my friend Terry, Bigfoot totally got into Grad School. Which sucks, cause now all he does is study and he quit smoking weed.
        </p>
        <p><a class="btn btn-info" href="http://www.fastweb.com/college-scholarships/articles/scholarships-internships-for-animal-lovers" target="_blank">HOLY SHIT!!! &raquo;</a>
</div>

    <div class="col-md-4">
        <img class="headline_pic" src="http://www.workingworld.com/images/articles/big/CA.jpg">
        <h2 class="headline">Nigerian Prince Broke!</h2>
        <p>GREETINGS FRIEND IN A STUNNING TURNABOUT THE CROWN PIRNCE OF NIGERIA HAS LOST AL HIS MONEY AND NOW NEEDS YOU TO SEND HIM CASH INSTAED!!GOD BLES YOU</p>
        <p><a class="btn btn-info" href="http://www.telegraph.co.uk/technology/microsoft/9346371/Nigerian-scam-emails-deliberately-implausible.html" target="_blank">i await Your call! &raquo;</a>
    </div>

</div>
